@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source '../node_modules/fumadocs-ui/dist/**/*.js';

:root {
    --color-base-black: #000000;
    --color-base-white: #ffffff;

    --color-ant-primary-color-outline: rgba(51, 102, 255, 0.2);
    --color-ant-error-color-outline: rgba(255, 0, 0, 0.2);

    --color-brand-50: #f0f3ff;
    --color-brand-100: #d6e0ff;
    --color-brand-200: #adc2ff;
    --color-brand-300: #85a3ff;
    --color-brand-400: #5c85ff;
    --color-brand-500: #3366ff;
    --color-brand-600: #2952cc;
    --color-brand-700: #1f3d99;
    --color-brand-800: #142966;
    --color-brand-900: #0a1433;

    --color-grey-50: #f9f9f8;
    --color-grey-100: #f4f4f5;
    --color-grey-200: #e7e7e9;
    --color-grey-300: #d5d5d9;
    --color-grey-400: #9aa2af;
    --color-grey-500: #6a7184;
    --color-grey-600: #4a5268;
    --color-grey-700: #374151;
    --color-grey-800: #1f2938;
    --color-grey-900: #101015;

    --color-green-50: #ecfff2;
    --color-green-100: #d4f7e0;
    --color-green-200: #a9efc1;
    --color-green-300: #7de6a3;
    --color-green-400: #52de84;
    --color-green-500: #27d665;
    --color-green-600: #1fab51;
    --color-green-700: #17803d;
    --color-green-800: #105628;
    --color-green-900: #082b14;

    --color-red-50: #fff2f1;
    --color-red-100: #ffdbd9;
    --color-red-200: #ffb7b2;
    --color-red-300: #ff928c;
    --color-red-400: #ff6e65;
    --color-red-500: #ff4a3f;
    --color-red-600: #e8463c;
    --color-red-700: #cb3f36;
    --color-red-800: #b23830;
    --color-red-900: #7d2721;

    --color-maroon-50: #fff0f7;
    --color-maroon-100: #ffcfe6;
    --color-maroon-200: #ffabd2;
    --color-maroon-300: #ec7db1;
    --color-maroon-400: #d45892;
    --color-maroon-500: #b33771;
    --color-maroon-600: #9d255d;
    --color-maroon-700: #801044;
    --color-maroon-800: #690735;
    --color-maroon-900: #42001f;

    --color-blue-50: #edf9ff;
    --color-blue-100: #d7f2ff;
    --color-blue-200: #afe5ff;
    --color-blue-300: #86d9ff;
    --color-blue-400: #5eccff;
    --color-blue-500: #36bfff;
    --color-blue-600: #2b99cc;
    --color-blue-700: #207399;
    --color-blue-800: #164c66;
    --color-blue-900: #0b2633;

    --color-orange-50: #fff5ef;
    --color-orange-100: #fee6d6;
    --color-orange-200: #fdcdad;
    --color-orange-300: #fcb483;
    --color-orange-400: #fb9b5a;
    --color-orange-500: #fa8231;
    --color-orange-600: #e1752c;
    --color-orange-700: #c86827;
    --color-orange-800: #964e1d;
    --color-orange-900: #4b270f;

    --color-pink-50: #ffeefb;
    --color-pink-100: #fed8f4;
    --color-pink-200: #feb0e8;
    --color-pink-300: #fd89dd;
    --color-pink-400: #fd61d1;
    --color-pink-500: #fc3ac6;
    --color-pink-600: #ca2e9e;
    --color-pink-700: #972377;
    --color-pink-800: #65174f;
    --color-pink-900: #320c28;

    --color-purple-50: #f3ecfa;
    --color-purple-100: #e5d4f5;
    --color-purple-200: #cba8eb;
    --color-purple-300: #b17de1;
    --color-purple-400: #9751d7;
    --color-purple-500: #7d26cd;
    --color-purple-600: #641ea4;
    --color-purple-700: #4b177b;
    --color-purple-800: #320f52;
    --color-purple-900: #190829;

    --color-yellow-50: #fffbf2;
    --color-yellow-100: #fff0d1;
    --color-yellow-300: #fdd889;
    --color-yellow-200: #fee5b0;
    --color-yellow-400: #fdcb61;
    --color-yellow-500: #fcbe3a;
    --color-yellow-600: #ca982e;
    --color-yellow-700: #977223;
    --color-yellow-800: #654c17;
    --color-yellow-900: #32260c;

    --color-base-none: #ffffff00;
    --radius: 0.5rem;
}

.dark {
    --color-base-black: #ffffff;
    --color-base-white: #171717;

    --color-brand-50: #141A57;
    --color-brand-100: #19288f;
    --color-brand-200: #1727b6;
    --color-brand-300: #1b43f5;
    --color-brand-400: #3366ff;
    --color-brand-500: #598eff;
    --color-brand-600: #8eb6ff;
    --color-brand-700: #bcd2ff;
    --color-brand-800: #d9e5ff;
    --color-brand-900: #eef4ff;

    --color-grey-50: #1d1d1f;
    --color-grey-100: #282c2e;
    --color-grey-200: #3b3d40;
    --color-grey-300: #505257;
    --color-grey-400: #6c6f75;
    --color-grey-500: #989ca5;
    --color-grey-600: #c5cbd6;
    --color-grey-700: #d5dce8;
    --color-grey-800: #e2e9f6;
    --color-grey-900: #e9f0fd;

    --color-green-50: #0f331c;
    --color-green-100: #174d2a;
    --color-green-200: #1f6638;
    --color-green-300: #2e9953;
    --color-green-400: #3dcc6f;
    --color-green-500: #27d665;
    --color-green-600: #80ffac;
    --color-green-700: #a6ffc5;
    --color-green-800: #ccffde;
    --color-green-900: #e5ffee;

    --color-red-50: #331614;
    --color-red-100: #4d211f;
    --color-red-200: #662c29;
    --color-red-300: #99423d;
    --color-red-400: #cc5852;
    --color-red-500: #ff4a3f;
    --color-red-600: #ff8680;
    --color-red-700: #ffaaa6;
    --color-red-800: #ffcfcc;
    --color-red-900: #ffe7e5;

    --color-maroon-50: #4f0125;
    --color-maroon-100: #690735;
    --color-maroon-200: #801044;
    --color-maroon-300: #9d255d;
    --color-maroon-400: #b33771;
    --color-maroon-500: #d45892;
    --color-maroon-600: #ec7db1;
    --color-maroon-700: #ffabd2;
    --color-maroon-800: #ffcfe6;
    --color-maroon-900: #fff0f7;

    --color-blue-50: #0f2833;
    --color-blue-100: #173c4d;
    --color-blue-200: #1f4f66;
    --color-blue-300: #266380;
    --color-blue-400: #3d9fcc;
    --color-blue-500: #4dc6ff;
    --color-blue-600: #80d7ff;
    --color-blue-700: #a6e3ff;
    --color-blue-800: #ccefff;
    --color-blue-900: #e5f7ff;

    --color-orange-50: #331e0f;
    --color-orange-100: #4d2c17;
    --color-orange-200: #663b1f;
    --color-orange-300: #804a26;
    --color-orange-400: #cc763d;
    --color-orange-500: #ff944d;
    --color-orange-600: #ffb280;
    --color-orange-700: #ffc9a6;
    --color-orange-800: #ffe0cc;
    --color-orange-900: #fff0e5;

    --color-pink-50: #330f29;
    --color-pink-100: #4d173d;
    --color-pink-200: #661f52;
    --color-pink-300: #802666;
    --color-pink-400: #cc3da4;
    --color-pink-500: #ff4dcc;
    --color-pink-600: #ff80db;
    --color-pink-700: #ffa6e6;
    --color-pink-800: #ffccf1;
    --color-pink-900: #ffe5f8;

    --color-purple-50: #220f33;
    --color-purple-100: #33174d;
    --color-purple-200: #431f66;
    --color-purple-300: #542680;
    --color-purple-400: #873dcc;
    --color-purple-500: #a94dff;
    --color-purple-600: #c180ff;
    --color-purple-700: #d4a6ff;
    --color-purple-800: #e6ccff;
    --color-purple-900: #f3e5ff;

    --color-yellow-50: #332912;
    --color-yellow-100: #4d3d1b;
    --color-yellow-300: #997a36;
    --color-yellow-200: #665124;
    --color-yellow-400: #cca247;
    --color-yellow-500: #ffcb59;
    --color-yellow-600: #ffd780;
    --color-yellow-700: #ffe3a6;
    --color-yellow-800: #ffefcc;
    --color-yellow-900: #fff7e5;
}

@theme inline {
    --spacing-00: 0px;
    --spacing-01: 2px;
    --spacing-02: 4px;
    --spacing-03: 8px;
    --spacing-04: 12px;
    --spacing-05: 16px;
    --spacing-06: 24px;
    --spacing-07: 32px;
    --spacing-08: 40px;
    --spacing-09: 48px;
    --spacing-13: 160px;

    --font-size-h1: 64px;
    --font-size-h2: 40px;
    --font-size-h3: 24px;


    --measurements-radius-x-small: var(--spacing-02);
    --measurements-radius-small: var(--spacing-03);
    --measurements-radius-medium: var(--spacing-04);
    --measurements-radius-large: var(--spacing-05);
    --measurements-radius-x-large: var(--spacing-06);
    --measurements-radius-xx-large: var(--spacing-07);
    --measurements-radius-rounded: var(--spacing-13);

    --font-sans: Vazirmatn, sans-serif;
    --font-serif: Vazirmatn, serif;

    --breakpoint-xs: 40rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 820px;
    --breakpoint-2xl: 1780px;

    --text-tiny: 11px;
    --text-tiny--line-height: 14px;
    --text-small: 13px;
    --text-small--line-height: 16px;
    --text-small1: 13px;
    --text-small1--line-height: 18px;

    --font-weight-thin: 200;
    --font-weight-extralight: 300;
    --font-weight-light: 400;
    --font-weight-normal: 500;
    --font-weight-default: 500;
    --font-weight-medium: 550;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 800;


    --shadow-default: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    --shadow-hover: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    --shadow-selected: 0px 0px 0px 2px var(--color-ant-primary-color-outline);
    --shadow-selected-ai: 0px 0px 0px 2px rgba(125, 38, 205, 0.24);
    --shadow-error: 0px 0px 0px 2px var(--color-ant-error-color-outline);
    --shadow-focus: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #3069fe;
    --shadow-nc-sm: 0px 3px 1px -2px rgba(0, 0, 0, 0.06), 0px 5px 3px -2px rgba(0, 0, 0, 0.02);

}

@theme inline {
    --color-nc-content-grey-extreme: var(--color-base-black);
    --color-nc-content-grey-emphasis: var(--color-grey-900);
    --color-nc-content-grey-default: var(--color-grey-800);
    --color-nc-content-grey-subtle: var(--color-grey-700);
    --color-nc-content-grey-subtle-2: var(--color-grey-600);
    --color-nc-content-grey-muted: var(--color-grey-500);

    --color-nc-content-brand-default: var(--color-brand-500);
    --color-nc-content-brand-hover: var(--color-grey-300);
    --color-nc-content-brand-disabled: var(--color-brand-600);

    --color-nc-content-inverted-primary-default: var(--color-base-white);
    --color-nc-content-inverted-secondary-default: var(--color-grey-700);
    --color-nc-content-inverted-secondary-hover: var(--color-grey-700);

    --color-nc-background-grey-extra-light: var(--color-grey-50);
    --color-nc-background-grey-light: var(--color-grey-100);
    --color-nc-background-grey-medium: var(--color-grey-200);
    --color-nc-background-grey-dark: var(--color-grey-300);
    --color-nc-background-grey-extra-dark: var(--color-grey-400);

    --color-nc-background-default: var(--color-base-white);
    --color-nc-background-brand: var(--color-brand-50);

    --color-nc-background-coloured-pink: var(--color-pink-50);
    --color-nc-background-coloured-pink-dark: var(--color-pink-100);

    --color-nc-background-coloured-purple: var(--color-purple-50);
    --color-nc-background-coloured-purple-dark: var(--color-purple-100);

    --color-nc-background-coloured-red: var(--color-red-50);
    --color-nc-background-coloured-red-dark: var(--color-red-100);

    --color-nc-background-coloured-green: var(--color-green-50);
    --color-nc-background-coloured-green-dark: var(--color-green-100);

    --color-nc-background-coloured-yellow: var(--color-yellow-50);
    --color-nc-background-coloured-yellow-dark: var(--color-yellow-100);

    --color-nc-background-coloured-marooon: var(--color-maroon-50);
    --color-nc-background-coloured-maroon-dark: var(--color-maroon-100);

    --color-nc-background-coloured-blue: var(--color-blue-50);
    --color-nc-background-coloured-blue-dark: var(--color-blue-100);

    --color-nc-background-coloured-orange: var(--color-orange-50);
    --color-nc-background-coloured-orange-dark: var(--color-orange-100);

    --color-nc-content-red-dark: var(--color-red-700);
    --color-nc-content-red-medium: var(--color-red-500);
    --color-nc-content-red-light: var(--color-red-300);

    --color-nc-content-green-dark: var(--color-green-700);
    --color-nc-content-green-medium: var(--color-green-500);
    --color-nc-content-green-light: var(--color-green-300);

    --color-nc-content-yellow-dark: var(--color-yellow-700);
    --color-nc-content-yellow-medium: var(--color-yellow-500);
    --color-nc-content-yellow-light: var(--color-yellow-300);

    --color-nc-content-blue-dark: var(--color-blue-700);
    --color-nc-content-blue-medium: var(--color-blue-500);
    --color-nc-content-blue-light: var(--color-blue-300);

    --color-nc-content-pink-dark: var(--color-pink-700);
    --color-nc-content-pink-medium: var(--color-pink-500);
    --color-nc-content-pink-light: var(--color-pink-300);

    --color-nc-content-purple-dark: var(--color-purple-700);
    --color-nc-content-purple-medium: var(--color-purple-500);
    --color-nc-content-purple-light: var(--color-purple-300);

    --color-nc-content-orange-dark: var(--color-orange-700);
    --color-nc-content-orange-medium: var(--color-orange-500);
    --color-nc-content-orange-light: var(--color-orange-300);

    --color-nc-content-maroon-dark: var(--color-maroon-700);
    --color-nc-content-maroon-medium: var(--color-maroon-500);
    --color-nc-content-maroon-light: var(--color-maroon-300);

    --color-nc-content-inverted-primary-hover: var(--color-base-white);
    --color-nc-content-inverted-primary-disabled: var(--color-grey-400);
    --color-nc-content-inverted-secondary-disabled: var(--color-grey-400);

    --color-nc-fill-primary-default: var(--color-brand-500);
    --color-nc-fill-primary-hover: var(--color-brand-600);
    --color-nc-fill-primary-disabled: var(--color-grey-300);
    --color-nc-fill-primary-disabled-2: var(--color-brand-200);

    --color-nc-fill-secondary-default: var(--color-base-white);
    --color-nc-fill-secondary-hover: var(--color-grey-50);
    --color-nc-fill-secondary-disabled: var(--color-base-white);

    --color-nc-fill-warning-default: var(--color-red-500);
    --color-nc-fill-warning-hover: var(--color-red-600);
    --color-nc-fill-warning-disabled: var(--color-grey-50);

    --color-nc-fill-success-default: var(--color-green-500);
    --color-nc-fill-success-hover: var(--color-green-600);
    --color-nc-fill-success-disabled: var(--color-grey-50);

    --color-nc-fill-coloured-red-dark: var(--color-red-700);
    --color-nc-fill-coloured-red-medium: var(--color-red-500);
    --color-nc-fill-coloured-red-light: var(--color-red-300);

    --color-nc-fill-coloured-green-dark: var(--color-green-700);
    --color-nc-fill-coloured-green-medium: var(--color-green-500);
    --color-nc-fill-coloured-green-light: var(--color-green-300);

    --color-nc-fill-coloured-yellow-dark: var(--color-yellow-700);
    --color-nc-fill-coloured-yellow-medium: var(--color-yellow-500);
    --color-nc-fill-coloured-yellow-light: var(--color-yellow-300);

    --color-nc-fill-coloured-blue-dark: var(--color-blue-700);
    --color-nc-fill-coloured-blue-medium: var(--color-blue-500);
    --color-nc-fill-coloured-blue-light: var(--color-blue-300);

    --color-nc-fill-coloured-pink-dark: var(--color-pink-700);
    --color-nc-fill-coloured-pink-medium: var(--color-pink-500);
    --color-nc-fill-coloured-pink-light: var(--color-pink-300);

    --color-nc-fill-coloured-purple-dark: var(--color-purple-700);
    --color-nc-fill-coloured-purple-medium: var(--color-purple-500);
    --color-nc-fill-coloured-purple-light: var(--color-purple-300);

    --color-nc-fill-coloured-orange-dark: var(--color-orange-700);
    --color-nc-fill-coloured-orange-medium: var(--color-orange-500);
    --color-nc-fill-coloured-orange-light: var(--color-orange-300);

    --color-nc-fill-coloured-maroon-dark: var(--color-maroon-700);
    --color-nc-fill-coloured-maroon-medium: var(--color-maroon-500);
    --color-nc-fill-coloured-maroon-light: var(--color-maroon-300);

    --color-nc-fill-nc-component-button-text: #ffffff;

    --color-nc-border-brand: var(--color-brand-500);

    --color-nc-border-grey-extra-light: var(--color-grey-50);
    --color-nc-border-grey-light: var(--color-grey-100);
    --color-nc-border-grey-medium: var(--color-grey-200);
    --color-nc-border-grey-dark: var(--color-grey-300);
    --color-nc-border-grey-extra-dark: var(--color-grey-400);

    --color-nc-border-coloured-red: var(--color-red-500);
    --color-nc-border-coloured-green: var(--color-green-500);
    --color-nc-border-coloured-yellow: var(--color-yellow-500);
    --color-nc-border-coloured-marooon: var(--color-maroon-500);
    --color-nc-border-coloured-blue: var(--color-blue-500);
    --color-nc-border-coloured-orange: var(--color-orange-500);
    --color-nc-border-coloured-pink: var(--color-pink-500);
    --color-nc-border-coloured-purple: var(--color-purple-500);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);


    --shadow-sm: 0px 3px 1px -2px rgba(0, 0, 0, 0.06), 0px 5px 3px -2px rgba(0, 0, 0, 0.02);
    --shadow-default: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    --shadow-hover: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    --shadow-selected: 0px 0px 0px 2px var(--color-ant-primary-color-outline);
    --shadow-selected-ai: 0px 0px 0px 2px rgba(125, 38, 205, 0.24);
    --shadow-error: 0px 0px 0px 2px var(--color-ant-error-color-outline);
    --shadow-focus: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #3069fe;
    --shadow-nc-sm: 0px 3px 1px -2px rgba(0, 0, 0, 0.06), 0px 5px 3px -2px rgba(0, 0, 0, 0.02);

    --color-background: var(--color-nc-background-default);
    --color-foreground: var(--color-nc-content-grey-default);
    --color-card: var(--color-nc-background-default);
    --color-card-foreground: var(--color-nc-content-grey-default);
    --color-popover: var(--color-nc-background-default);
    --color-popover-foreground: var(--color-nc-content-grey-default);
    --color-primary: var(--color-nc-fill-primary-default);
    --color-primary-foreground: var(--color-nc-fill-nc-component-button-text);
    --color-secondary: var(--color-nc-background-default);
    --color-secondary-foreground: var(--color-nc-content-grey-subtle);
    --color-muted: var(--color-nc-background-grey-extra-light);
    --color-muted-foreground: var(--color-nc-content-grey-subtle);
    --color-accent: var(--color-nc-background-grey-light);
    --color-accent-foreground: var(--color-nc-content-grey-subtle);
    --color-destructive: var(--color-nc-background-coloured-red);
    --color-border: var(--color-nc-border-grey-medium);
    --color-input: var(--color-nc-content-grey-subtle);


    --color-ant-primary-hover: #6e7ef5;
    --color-ant-primary-active: #2f36c2;
    --color-ant-primary-outline: #4351e833;

    --chart-1: var(--color-orange-600);
    --chart-2: var(--color-green-600);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-yellow-600);
    --chart-5: var(--color-purple-600);

    /*Fuma Docs Color Override*/
    --color-fd-card: var(--color-nc-background-grey-extra-light);
    --color-fd-muted-foreground: var(--color-nc-content-grey-subtle);
    --color-fd-primary: var(--color-nc-content-grey-emphasis);
    --color-fd-accent: var(--color-nc-background-grey-medium);


    --color-fd-background: var(--color-grey-50);
    --color-fd-foreground: var(--color-grey-900);
    --color-fd-muted: var(--color-grey-100);
    --color-fd-popover: var(--color-grey-100);
    --color-fd-popover-foreground: var(--color-grey-800);
    --color-fd-card-foreground: var(--color-grey-900);
    --color-fd-border: var(--color-grey-300);
    --color-fd-primary-foreground: var(--color-base-black);
    --color-fd-secondary: var(--color-grey-200);
    --color-fd-secondary-foreground: var(--color-grey-900);
    --color-fd-accent-foreground: var(--color-base-black);
    --color-fd-ring: var(--color-brand-500);
}

.nc-blog-layout {
    .prose {
        h2 {
            @apply text-nc-content-grey-emphasis text-2xl font-bold leading-9;
        }

        h3 {
            @apply text-nc-content-grey-emphasis text-xl leading-7;
        }

        h4 {
            @apply text-nc-content-grey-emphasis text-base leading-6;
        }

        h5 {
            @apply text-nc-content-grey-emphasis text-[14px] leading-6;
        }

        p {
            @apply text-nc-content-grey-emphasis font-[500] text-sm lg:text-base lg:leading-7 leading-6;
        }

        code {
            @apply font-mono;
        }

        ol, ul {
            @apply !my-0;

            li {
                @apply text-sm lg:text-base leading-6 lg:leading-7 my-1 text-nc-content-grey-emphasis font-[400];
            }
        }

        a {
            @apply text-nc-content-grey-emphasis decoration-nc-content-brand-default;
        }
    }

}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


[id="nd-home-layout"] {
    padding-top: 18px !important;
}

.grecaptcha-badge {
    @apply hidden;
}


.nc-docs-layout {
    .prose {
        h1 {
            @apply text-nc-content-grey-emphasis text-[40px] leading-16 font-semibold;
        }

        h2 {
            @apply text-nc-content-grey-default text-2xl font-semibold leading-9;
        }

        h3 {
            @apply text-nc-content-grey-emphasis text-xl leading-7 font-semibold;
        }

        h4 {
            @apply text-nc-content-grey-emphasis text-base leading-6 font-semibold;
        }

        p {
            @apply  text-nc-content-grey-subtle font-light text-[15px] leading-7;
        }

        ol, ul {
            @apply !my-0;

            li {
                @apply text-nc-content-grey-subtle font-light text-[15px] leading-7 my-1;
            }
        }

        table {
            @apply bg-transparent border-b-nc-border-grey-medium;

            thead {
                tr {
                    @apply border-b-nc-border-grey-medium;

                    th {
                        @apply text-nc-content-grey-default !text-left text-[15px] leading-7 font-light px-4 py-3 bg-nc-background-grey-extra-light border-b-nc-border-grey-medium;
                    }
                }
            }

            tbody {
                tr {
                    @apply border-b-nc-border-grey-medium;

                    td {
                        @apply text-nc-content-grey-subtle-2 !text-left font-light text-[13px] leading-[18px] p-4 !bg-transparent border-b-nc-border-grey-medium;
                    }
                }
            }
        }

        .callout {
            p {
                @apply my-0 text-nc-content-grey-muted text-[15px] leading-7 font-light;
            }

            ul {
                @apply my-0;
            }
        }
    }
}